body {background-color:#F0F0F0;background-image:url(../OriginalFiles/bg1.jpg);}
a {color: #406AB0;}
a:visited {color: #FCA705;}
div.lpxcenterpageinner { position: relative; margin: 0 auto; text-align: left; width: 1004px; }
